{% extends "onboarding/base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% load static %}
    <div id="authorize-div" style="display: none">
        <div class="group">
            <h1>Welcome to Mixpanel Support!</h1>
            <p>We're super excited to have you. To get started, please authorize access to Google Calendar API using your email, so we can show you your calendar.</p>
            <div style="text-align: center">
                <button id="authorize-button" onclick="handleAuthClick(event)">Authorize</button>
            </div>
        </div>
    </div>
    <div id="calendar" class="col-sm-4">
        <h2 id="date"></h2>
        <h3 id="todayDate"></h3>
        <div id="buttons">
            <button id="previous-week" class="btn btn-primary">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
            </button>
            <button id="previous-day" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button id="start-day" class="btn btn-primary">Start</button>
            <button id="today" class="btn btn-primary">Today</button>
            <button id="next-day" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <button id="next-week" class="btn btn-primary">
                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
            </button>
        </div>
        <table id="schedule">
        </table>
    </div>
    <div id="home" class="col-sm-8">
        <div id="milestones">
            <div class="week-group 0">
                <h2>Getting Started</h2>
                <p>Again, welcome! Please go to <a href="/getting-started">"Getting Started"</a> to get your laptop set up, read through expectations, and determine how to use this guide!</p>
            </div>
            <div class="week-group 0">
                <h2>Milestones</h2>
                <p>Scheduled Sessions VS Independent Time Distribution: 70% vs 30%</p>
                <ol>
                    <li class="mstone-checkbox" id="mstone0"><input type="checkbox">Complete <a href="https://docs.google.com/document/d/1hU4yOF1wUxC2o7IYF4A_uAoUl0IQhrPgrdodsTHRrsc/edit">'Steps'</a> of setting up Music Finder</li>
                    <li class="mstone-checkbox" id="mstone1"><input type="checkbox">Watch the Mixpanel webinar</li>
                    <li class="mstone-checkbox" id="mstone2"><input type="checkbox">Read <a href="/getting-started#tickets">practice tickets expectations</a></li>
                    <li class="mstone-checkbox" id="mstone3"><input type="checkbox">Complete practice tickets on Salesforce</li>
                    <li class="mstone-checkbox" id="mstone4"><input type="checkbox">Pick a company to create implementation spec around and eventually perform a demo call on</li>
                    <li class="mstone-checkbox" id="mstone5"><input type="checkbox">Meet at least 2 people from outside of Support (ask Mentors or teammates for intros!)</li>
                </ol>
            </div>
            <div class="week-group 1">
                <h2>Milestones</h2>
                <p>Scheduled Sessions VS Independent Time Distribution: 80% vs 20%</p>
                <ol>
                    <li class="mstone-checkbox" id="mstone6"><input type="checkbox">Be halfway complete with <a href="https://docs.google.com/document/d/1hU4yOF1wUxC2o7IYF4A_uAoUl0IQhrPgrdodsTHRrsc/edit">Music Finder</a></li>
                    <li class="mstone-checkbox" id="mstone7"><input type="checkbox">Complete practice tickets on Salesforce</li>
                    <li class="mstone-checkbox" id="mstone9"><input type="checkbox">Meet at least 3 people from outside of Support (ask Mentors or teammates for intros!)</li>
                    <li class="mstone-checkbox" id="mstone10"><input type="checkbox">Complete any session feedback forms</li>
                </ol>
            </div>
            <div class="week-group 2">
                <h2>Milestones</h2>
                <p>Scheduled Sessions VS Independent Time Distribution: 70% vs 30%</p>
                <ol>
                    <li class="mstone-checkbox" id="mstone11"><input type="checkbox">Sit down with 3 Support Engineers to do paired ticketing</li>
                    <li class="mstone-checkbox" id="mstone12"><input type="checkbox">Complete <a href="https://docs.google.com/document/d/1hU4yOF1wUxC2o7IYF4A_uAoUl0IQhrPgrdodsTHRrsc/edit">Music Finder</a></li>
                    <li class="mstone-checkbox" id="mstone13"><input type="checkbox">Submit final implementation spec to be reviewed by Mentor and manager</li>
                    <li class="mstone-checkbox" id="mstone14"><input type="checkbox">Complete practice tickets in Salesforce</li>
                    <li>&#9632 Attempt 1 L1 ticket from each of the following categories, submit to Manager. Each ticket must have an IKB article or Content Request attached to it:</li>
                    <ul>
                        <li class="mstone-checkbox" id="mstone15"><input type="checkbox">Understanding Reports</li>
                        <li class="mstone-checkbox" id="mstone16"><input type="checkbox">Identity Management</li>
                    </ul>
                    <li class="mstone-checkbox" id="mstone17"><input type="checkbox">Complete any session feedback forms</a></li>
                </ol>
            </div>
            <div class="week-group 3">
                <h2>Milestones</h2>
                <p>Scheduled Sessions VS Independent Time Distribution: 20% vs 80%</p>
                <ol>
                    <li class="mstone-checkbox" id="mstone18"><input type="checkbox">Answer 6 new tickets a day by EOW</li>
                    <li>&#9632 Attempt 1 L1 ticket from each of the following categories, submit to Manager. Each ticket must have an IKB article or Content Request attached to it:</li>
                    <ul>
                        <li class="mstone-checkbox" id="mstone19"><input type="checkbox">Initial Implementation</li>
                        <li class="mstone-checkbox" id="mstone20"><input type="checkbox">Integration Modification</li>
                        <li class="mstone-checkbox" id="mstone21"><input type="checkbox">Understanding Reports</li>
                        <li class="mstone-checkbox" id="mstone22"><input type="checkbox">Identity Management</li>
                    </ul>
                    <li class="mstone-checkbox" id="mstone23"><input type="checkbox">Do at least 2 webinar dry-runs by yourself this week.</li>
                    <li class="mstone-checkbox" id="mstone24"><input type="checkbox">Shadow two Support calls</li>
                    <li class="mstone-checkbox" id="mstone25"><input type="checkbox">Populate Implementation Spec data into a Mixpanel project with Dungeon Master</li>
                    <li class="mstone-checkbox" id="mstone26"><input type="checkbox">Perform demo call with Mentor</li>
                    <li class="mstone-checkbox" id="mstone27"><input type="checkbox">Have met 1 person from every single team outside of Support</li>
                    <li class="mstone-checkbox" id="mstone28"><input type="checkbox">Write a paragraph on what the QBQ is and why it’s so important to Support</li>
                    <li class="mstone-checkbox" id="mstone29"><input type="checkbox">Complete any session feedback forms</li>
                </ol>
            </div>
            <div class="week-group 4 5 6">
                <h2>Your Official Trainings Are Done!</h2>
                <p>By this point, most (if not all) of your official trainings are complete. congratulations!</p>
                <p>However, this doesn't mean you're done learning (you'll #AlwaysBeLearning), so please feel free to continue to ask questions and learn as much as you can. You can go back to the previous weeks to review milestones and objectives. Also review <a href="reference">Reference</a> and <a href="trainings">Trainings</a> for everything you've learned before.</p>
                <p>As you finish up onboarding around the 6th week, ensure that you have done the following:</p>
                <ol>
                    <li class="mstone-checkbox" id="mstone30"><input type="checkbox">Finished all Practice Tickets on Salesforce (and reviewed each one with a member of the team)</li>
                    <li class="mstone-checkbox" id="mstone31"><input type="checkbox">Attended at least 3 paired ticketing sessions</li>
                    <li class="mstone-checkbox" id="mstone32"><input type="checkbox">Attended at least 2 call shadowings</li>
                    <li class="mstone-checkbox" id="mstone33"><input type="checkbox">Completed Music Finder</li>
                    <li class="mstone-checkbox" id="mstone34"><input type="checkbox">Completed implementation spec</li>
                    <li class="mstone-checkbox" id="mstone35"><input type="checkbox">Populated a dungeon master</li>
                    <li class="mstone-checkbox" id="mstone36"><input type="checkbox">Completed demo call with mentor and/or manager</li>
                    <li class="mstone-checkbox" id="mstone37"><input type="checkbox">Schedule 2 webinar dry-runs with your mentor before you host the webinar</li>
                    <li class="mstone-checkbox" id="mstone38"><input type="checkbox">Completed all Support Onboarding Sessions Feedback Forms</a></li>
                    <li class="mstone-checkbox" id="mstone39"><input type="checkbox">Have at least met 1 person from every single team outside of Support, (ask Mentors or teammates for intros!)</li>
                </ol>
            </div>
        </div>
        <div id="objectives" style="margin-bottom: 50px">
            <div class="week-group 0">
                <h2>Objectives</h2>
                <p>Your first week will be spent primarily acclimating with the team and familiarising yourself with Mixpanel - the product, the services we provide, the day-to-day functions of the organisation, and of course, the people that make working here so awesome!</p>
                <p>You will also have a variety of projects and milestones that you will be working towards every week. Below are a few to help you get started in becoming a fully ramped-up Support Engineer:</p>
                <h3>Training Sessions</h3>
                <ul>
                    <li>Full attention</li>
                    <li>Take notes! There’s a lot of ground to cover so you’ll be doing your brain a service if you take notes in each session</li>
                </ul>
                <h3>Music Finder</h3>
                <ul>
                    <li>Create a Music Finder folder</li>
                    <li>Download Sublime</li>
                    <li>Configure Music Finder to run locally</li>
                </ul>
                <h3>Implementation Spec</h3>
                Pick a company of interest (anything you want!), and after reading this <a href="https://mixpanel.com/help/questions/articles/how-do-i-create-a-tracking-plan">guide</a>, start considering:
                <ul>
                    <li>What business objectives matter most to that business?</li>
                    <li>What kind of questions should I ask to improve the business's ability to reach those objectives?</li>
                    <li>How can tracking analytics help answer those questions?</li>
                    <li>How can Mixpanel's specific analytics philosophy/design help answer those questions?</li>
                </ul>
                <h3>Webinar</h3>
                <ul>
                    <li>Watch the webinar and take notes!</li>
                    <li>What doesn’t seem clear about the webinar? </li>
                    <li>What’s disconnected?</li>
                    <ul>
                        <li>You will begin hosting the webinar near week 5+ (or further out - they are held bi-monthly on Tuesdays at 11am. Have questions? Ask Ehsan!)</li>
                        <li>To watch the webinar, register on the intro help page <a href="https://mixpanel.com/help/questions/articles/webinar-resource-page">here</a> and make your way to Herbie ~15 minutes before the webinar starts</li>
                    </ul>
                </ul>
                <h3>Meet people!</h3>
                <ul>
                    <li>The more people you meet, the better time you’ll have! It’s simple. :)</li>
                </ul>
            </div>
            <div class="week-group 1">
                <h2>Objectives</h2>
                <p>During the second week, you will continue to attend one-on-one trainings with either a focused deep-dive on previously visited topics, or trainings on more advanced topics.  You will also continue to ramp up on tickets by completing a higher number of practice tickets, and continue familiarising your understanding of Mixpanel’s value-add through the Webinar and implementation spec:</p>
                <h3>Music Finder</h3>
                <ul>
                    <li>Complete objectives 1-4 in Music Finder</li>
                </ul>
                <h3>Implementation Spec</h3>
                <ul>
                    <li><a href="https://mixpanel.com/help/questions/articles/how-do-i-create-a-tracking-plan">Build out an implementation spec for the company you’ve chosen</a></li>
                    <li>Include events, triggers, properties, super properties, people properties. </li>
                    <li>Justify how and why each event/property applies to solving a product or business goal.</li>
                </ul>
                <h3>Meet people!</h3>
                <ul>
                    <li>The more people you meet, the better time you’ll have! It’s simple. :)</li>
                </ul>
            </div>
            <div class="week-group 2">
                <h2>Objectives</h2>
                <p>One-on-one trainings will continue to take up the majority of your time, however there will be a divide between continued focused deep-dive trainings and exposure to real tickets.  You will also finish off the remainder of practice tickets, attend paired ticketing sessions, and begin answering basic L1 tickets.</p>
                <p>By now you should also be approaching the tail end of your onboarding projects surrounding the implementation of Mixpanel on your Music Finder, and finalizing your implementation spec in preparation of your demo call.</p>
                <h3>Music Finder</h3>
                <ul>
                    <li>Complete all objectives in Music Finder</li>
                </ul>
                <h3>Implementation Spec</h3>
                <ul>
                    <li>Finalize revisions of your implementation spec based off mentor feedback, and begin populating your demo project with Dungeon Master</li>
                </ul>
                <h3>Paired Ticketing</h3>
                <ul>
                    <li>You will spend 2-3 hours during the week to work through real tickets with a Support Engineer</li>
                    <li>Remember - they are taking time out of their work day to help you learn.  Come prepared to apply all that you’ve been learning through your training sessions and paired ticketing.  Suggest answers and interpretations.  Ask questions and challenge your paired ticketing trainer!</li>
                </ul>
                <h3>L1 Tickets</h3>
                <ul>
                    </li>The team will keep an eye out for certain L1 tickets so that you may begin familiarizing yourself with ticketing workflow and supporting live-customers</li>
                    <li>When in doubt, ASK. We’re all here to support the same customers and to provide an awesome customer experience.. :)</li>
                </ul>
                <h3>Meet people!</h3>
                <ul>
                    <li>The more people you meet, the better time you’ll have! It’s simple. :)</li>
                </ul>
            </div>
            <div class="week-group 3">
                <h2>Objectives</h2>
                <p>Paired ticketing and ticketing responsibilities will now take up the majority of your time while you finish out the remaining trainings.  You will also have finished off answering and reviewing the remainder of practice tickets, attend paired ticketing sessions, and continue answering basic L1 tickets.  You should now be wrapping your onboarding projects and ready to give your demo call, host the webinar in the upcoming weeks, shadow calls and begin completing a certain number of new tickets each day.</p>
                <h3>Music Finder</h3>
                <ul>
                    <li>Complete Music Finder to both you and your manager's satisfaction</li>
                </ul>
                <h3>Implementation Spec</h3>
                <ul>
                    <li>Finalize populating your demo project with Dungeon Master</li>
                </ul>
                <h3>Webinar</h3>
                <ul>
                    <li>Do at least 2 webinar dry-runs by yourself this week.</li>
                </ul>
                <h3>Paired Ticketing</h3>
                <ul>
                    <li>You will spend 2-3 hours during the week to work through real tickets with a Support Engineer</li>
                    <li>Remember - they are taking time out of their work day to help you learn.  Come prepared to apply all that you’ve been learning through your training sessions and paired ticketing.  Suggest answers and interpretations.  Ask questions and challenge your paired ticketing trainer!</li>
                </ul>
                <h3>L1 Tickets</h3>
                <ul>
                    </li>The team will keep an eye out for certain L1 tickets so that you may begin familiarizing yourself with ticketing workflow and supporting live-customers</li>
                    <li>When in doubt, ASK. We’re all here to support the same customers and to provide an awesome customer experience.. :)</li>
                    <li><strong>Attempt 6 new L1 tickets each day</strong></li>
                </ul>
                <h3>Call Shadowings</h3>
                <ul>
                    <li>Reach out to the team to invite you to demo calls, data review calls</li>
                    <li>Come into the calls prepared - ask what the call is about ahead of time, observe how the Support Engineer approaches the call and answers questions, take notes!</li>
                </ul>
                <h3>Meet people!</h3>
                <ul>
                    <li>The more people you meet, the better time you’ll have! It’s simple. :)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="popup-content">
            <span class="close">x</span>
            <div id="training-content"></div>
        </div>
    </div>
    <script>
        trackPageView('Index');
    </script>
{% endblock %}

{% block bottom %}
    {{ block.super }}
{% endblock %}